body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 5px;
  height: 100vh;


}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}
.item:nth-of-type(1){
  /* background: blue;
  grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1 / span 3;
  grid-row: 1/ span 2;
}
.item:nth-of-type(2){
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
}
.item:nth-of-type(3){
  grid-column: 6 / span 2;
}

.item:nth-of-type(8){
  /* grid-column: inicio / final; */
  /* Para usar por espacios: span # */
  /* grid-column: 1 / span 2; */
  /* si quiero que me ocupue todo el espacio de n columnas, entonces
  le digo que termine en la posicion n-1 */
  /* grid-column: 1 / -1; */

}
.item:nth-of-type(7){
  /* grid-column: inicio / final; */
  /* grid-column: 2 / 4; */
}