body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-rows: 300px 300px; */
  /* grid-template: filas / columnas; */
  grid-template: 300px 100px 100px / 50% 200px 100px;
}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

p {
  border: 1px solid black;
  padding: 10px;
  line-height: 24px;
}