body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.hero {
  background-color: #23475b;
  color: white;
  padding: 32px 15px;
}

.title {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
}
.form {
  text-align: center;
  background-color: rgba(255, 255, 255, .9);
  padding: 1.5em;
  border-radius: 10px;
}
.form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dbdbe2;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.form p {
  font-size: 20px;
  color: #3a3b3f;
  margin-bottom: 1em;
}
.form button {
  background: #98ca3f;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  border-bottom: 5px solid #6d932b;
  display: inline-block;
  cursor: pointer;
}